@model IEnumerable<MessangingApp1.Models.Channel>
@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.message</h1>
@if (Model != null)
{
    <table>
        <tr>
            <th>
                Channel Name
            </th>
            <th>
                Channel Description
            </th>
        </tr>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ChannelName
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        
    </table>
}
    <button>@Html.ActionLink("Create Channel", "Index", "Channel", null, null)</button>
